[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Categories=Utilities;
Name=Stabbed
Comment=Open tabbed with st attached.
Exec=stabbed
Icon=stabbed-icon.png
